# Environnement virtuel
venv/
env/

# Fichiers Python compilés
__pycache__/
*.py[cod]

# Base de données locale
db.sqlite3

# Variables d'environnement
.env

# Logs
*.log

# Fichiers temporaires
*.pot
*.pyc
*.pyo
*.mo

# Dossiers spécifiques à l'IDE
.vscode/
.idea/
