{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Commande confirmée</title>
    <link rel="stylesheet" href="{% static 'auth_app/bootstrap.min.css' %}">
    <style>
        body { background: #fff3e0; }
        .card {
            margin-top: 100px;
            border-radius: 20px;
            box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        }
        .btn {
            background-color: #e42b21;
            color: white;
        }
    </style>
</head>
<body>
<div class="container d-flex justify-content-center align-items-center">
    <div class="card p-5 text-center">
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
        <a href="{% url 'menu' %}" class="btn mt-3">⬅ Retour au menu</a>
    </div>
</div>
<script src="{% static 'auth_app/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
